<!DOCTYPE html>

<html>
    <head>
        <title>Steam Review Summarizer</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="index.css" rel="stylesheet" type="text/css">
        <script src="backend.js" defer></script>
    </head>

    <body>
        <div class="title"><h1>STEAM REVIEW SUMMARIZER</h1></div>
        <div class="main">
            <h2 class="subtitle">Realistic, concise, accurate.</h2>
            <h3>Summarizes reviews of a Steam game into an understandable and readable description.</h3>
            <i>Parses reviews written up to 1 year ago</i>
            <br>
            <br>
            Get started by pasting your game's Steam URL below.
            <br> 
            <form>
            <input type="text" id="in" size="100" rows="1" placeholder="https:/store.steampowered.com/app/app-id-here/app-name-here">
            <br>
            <input type="submit" id="submit" onclick="clicked()">
            </form>
        </div>

    </body>

</html>