<!DOCTYPE html>

<html>
    <head>
        <title>Steam Review Summarizer</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="backend.js" defer></script>
    </head>

    <body>
        <h1>Steam Review Summarizer</h1>
        <br>
        Input url of steam game here: 
        <input type="text" id="in" size="100" rows="1">
        <br>
        <input type="submit" id="submit" onclick="clicked()">

    </body>

</html>