body {
    font-family: Helvetica;
    background-color: #1B2838;
    color: #dddddd;
    margin-top: 0;
    margin: 0px;
}

h1 {
    margin: auto;
    color: #e0e0e0d7;
}

.title {
    text-align: center;
    font-size: 1rem;
    background-color: #0B1016;
    margin: auto;
    display: flex;
    
    height: 3rem;
}

.desc_div {
    text-align: center;
    text-wrap: wrap;
    width: 50rem;
    margin: auto;
    color: #6c7b8b;
}

.dev {
    color: #dddddd;
}

.game_title {
    font-size: 3rem;
    margin: 0;
    text-align: center;
}
.subtitle {
    margin: 0;
    text-align: center;
}


.main {
    padding: 1rem;
    
}

.game_img {
    display: block;
    margin: auto;
    width: 50rem;
}

.fade {
    animation-name: fade-in;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;

}

.graph_reviews {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    height: 20rem;
    
    width: 50rem;
}

.reviews {
    font-size: 1rem;
    padding:1rem;
    padding-top: 0.5rem;
    background-color: #141e29;
    color: #6c7b8b;
    line-height: 1.25rem;
    width: calc(50% - 3rem);
    
}

.stats, .summary_title {
    font-size: 1.5rem;
    line-height: 2rem;
    color: #dddddd;
}

.iframe_div {
    width: 50%;
    background-color: #141e29;
}

.iframe {
    border:0;overflow:hidden;
    width: 100%;
    height: 100%;
}

.summary {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 1rem;
    padding-top: 0.5rem;
    height: 20rem;
    width: calc(50rem - 2rem);
    background-color: #141e29;
    line-height: 1.25rem;
}

.summary_text {
    color: #6c7b8b;
    line-height: 2rem;
    font-size: 1.5rem;
}



@keyframes fade-in {
  from {opacity: 0}
  to {opacity: 1;}
}
