<!DOCTYPE html>

<html>
    <head>
        <title>Display</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/css/style.css" rel="stylesheet" type="text/css">
        <script src="../backend.js" defer></script>
    </head>

    <body>
        <div class="title"><h1>STEAM REVIEW SUMMARIZER</h1></div>
        <div class="main">
            <h1 class="game_title fade">R.E.P.O.</h1>
            <br>
            <img class="game_img fade" src="https://shared.fastly.steamstatic.com/store_item_assets/steam/apps/3241660/1ea445e044a2d5b09cfa8291350b63ebed6e5741/header.jpg?t=1743517226" alt="Game front page image">

            <br>
            <div class="desc_div"><i>
                <span class="desc"></span>"An online co-op horror game with up to 6 players. Locate valuable, fully physics-based objects and handle them with care as you retrieve and extract to satisfy your creator's desires."
                <br></i>
                <span class="dev">- Developer's description</span>
            </div>
            
            <br>
            <div class="graph_reviews">
                <div class="reviews">
                    <div class="stats"><b>STATISTICS</b></div>
                    TOTAL REVIEWS (30 days): 145
                    <br>
                    POSITIVE REVIEWS (30 days): 143
                    <br>
                    NEGATIVE REVIEWS (30 days): 2
                    <br>
                    <br>
                    RELEASE DATE: Feb 26, 2025
                    <br>
                    PUBLISHER: Rimwork
                </div>
                <div class="iframe_div">
                    <iframe src="https://steamdb.info/embed/?appid=3241660" loading="lazy" class="iframe"></iframe>
                </div>
            </div>

        </div>

    </body>

</html>