<!DOCTYPE html>

<html>
    <head>
        <title>Game Not Found</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/css/style.css" rel="stylesheet" type="text/css">
        <script src="/js/backend.js" defer></script>
    </head>

    <body>
        <div class="title"><h1>STEAM REVIEW SUMMARIZER</h1></div>
        <div class="main">
            <h1 class="game_title">Game Not Found</h1>
            <br>
            <div class="desc_div"><i>
                <span class="desc">Oops! We couldn't find details about the pasted URL, or the URL is invalid. :(</span>
            </div>
            <form action= <%- domain %> method="get">
            <input type="submit" value="Back" id="back">
            </form>
        </div>

    </body>

</html>